*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
}

img{
    overflow: hidden;
}

.header {
    width: 100%;
}

.ls-none{
    list-style: none;
}

.d-flex{
    display: flex;
    justify-content: space-evenly;
}

.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.p-15{
    padding: 15px;
}

.header-bg{
    background-color: #0078AD;
}

.text-white{
    color: wheat;
}

ul.login.d-flex {
    list-style-type: none;
    float: right;
}

a.login-a {
    text-decoration: none;
    color: #333333;
}
.input-box{
    padding-left: 15px;
    padding-right: 15px;
}
.input-box-mean a{
    color: #333333;
}
.img-thumbnail {
    background-color: #f8f9fa;
    border: 0px solid #dee2e6;
    border-radius: 0;
    max-width: 10%;
    height: auto;
    width: 50px;
}

.manu-a {
    text-decoration: none;
    color: #333333;
    padding-right: 1.5rem
}

.manu-a:hover {
    color: #292929;
}

ul.manu {
    list-style-type: none;
    justify-content: center;
    margin-left: 19rem;
}

.input-box-mean {
    float: right;
    margin-top: -3px;
}

.input-box {
    border-radius: 15px;
    border: 1px solid #000;
    width: 72%;
}

.fa-solid.fa-heart {
    font-size: 24px;
}

.fa-solid.fa-heart:hover {
    color: rgb(255, 62, 78);
}

.fa-solid.fa-solid.fa-bag-shopping {
    font-size: 24px;
}

.fa-solid.fa-solid.fa-bag-shopping:hover {
    color: rgb(255, 62, 78);
}

.img-head { 
    width: 100%;
    height: 100%;
}

/* slider */

.img-slider {
    position: relative;
    width: 100vw;
    height: 400px;
    overflow: hidden;
}

.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 26s infinite;
}

.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.img-slider .slider-container .slide img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@keyframes slider {

    0%,
    25%,
    100% {
        left: 0
    }

    30%,
    55% {
        left: -100%
    }

    60%,
    85% {
        left: -200%
    }
}

.slide-img:hover {
    height: 300px;
    overflow: hidden;
}

.slide-img:hover {
    transition: transform 1s, filter 1.2s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.slide-img:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}


/* slider-2 */

.img-slider2 {
    position: relative;
    width: 100vw;
    height: 100px;
    overflow: hidden;
}

.img-slider2 .slider-container2 {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 15s infinite;
}

.img-slider2 .slider-container2 .slide2 {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.img-slider2 .slider-container2 .slide2 img {
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

@keyframes slider2 {

    0%,
    25%,
    100% {
        left: 0
    }

    30%,
    55% {
        left: -100%
    }

    60%,
    85% {
        left: -200%
    }
}

.slide-img2:hover {
    height: 300px;
    overflow: hidden;
}

.slide-img2:hover {
    transition: transform 1s, filter 1.2s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.slide-img2:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}

/* img-head3 */

.img-head3 {
    width: 100%;
    height: 100%;
}

.img-head3:hover {
    height: 100%;
    overflow: hidden;
}

.img-head3:hover {
    transition: transform 1s, filter 1.2s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.img-head3:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}

/* img-head */

.img-head4 {
    width: 100%;
    height: 100%;
}

.img-head4:hover {
    height: 100%;
    overflow: hidden;
}

.img-head4:hover {
    transition: transform 1s, filter 1.2s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.img-head4:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}

/* slider5 */
.slider5-img {
    max-width: 100%;
    overflow: hidden;
}
/* img-head */

.img-head5 {
    width: 100%;
    height: 100%;
}

.img-head5:hover {
    height: 100%;
    overflow: hidden;
}

.img-head5:hover {
    transition: transform 1s, filter 1.2s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}

.img-head5:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    overflow: hidden;
}


/* footer */
.footer{
    background-color: #2c4152;
}
.footer h4{
    font-size: 0.9rem;
    color: #d3d2d2;
}
.footer-a{
    text-decoration: none;
    color: #c2c2c2;
    font-size: 0.7rem;
}

.footer hr{
    color: white;
}
.footer p{
    color: #ffffff;
}
.fa-solid.fa-building-columns{
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.fa-brands.fa-cc-visa{
    font-size: 1.5rem;
    color: white;
    margin-right: 15px;
}
.fa-brands.fa-cc-mastercard{
    font-size: 1.5rem;
    color: white;
    margin-right: 15px;
}
.fa-solid.fa-truck-ramp-box{
    font-size: 1.5rem;
    color: white;
    margin-right: 15px;
}
.fa-solid.fa-lock{
    font-size: 1.5rem;
    color: white;
    float: right;
    margin-right: 15px;
}

/* pointer */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


h1 {
  font-family: montserrat;
  font-size: 40px;
}

a {
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}